<footer class="footer">
  <div class="footer-container">
    <!-- BRAND -->

    <div class="footer-brand">
      <div class="footer-logo">
        <img src="logo-new.png" />

        <h3>DentiPro</h3>
      </div>

      <p>
        Platformă pentru descoperirea și compararea clinicilor dentare. Găsește
        rapid servicii stomatologice și programează-te online.
      </p>
    </div>

    <!-- PACIENTI -->

    <div class="footer-column">
      <h4>Pentru pacienți</h4>

      <a routerLink="/clinici">Caută clinici</a>

      <a>Servicii dentare</a>

      <a>Recenzii</a>

      <a>Întrebări frecvente</a>
    </div>

    <!-- CLINICI -->

    <div class="footer-column">
      <h4>Pentru clinici</h4>

      <a>Adaugă clinica</a>

      <a>Beneficii</a>

      <a>Parteneriate</a>
    </div>

    <!-- LEGAL -->

    <div class="footer-column">
      <h4>Legal</h4>

      <a>Termeni și condiții</a>

      <a>Politica de confidențialitate</a>

      <a>Cookie policy</a>
    </div>
  </div>

  <!-- BOTTOM BAR -->

  <div class="footer-bottom">
    <span> © 2026 DentiPro </span>

    <div class="footer-social">
      <span class="material-symbols-outlined">public</span>
      <span class="material-symbols-outlined">alternate_email</span>
    </div>
  </div>
</footer>
