<div class="main">
  @if (isLoading) {
    <div class="card-list-inner">
      @for (i of [1, 2, 3, 4, 5, 6]; track i) {
        <div class="card skeleton-card">
          <div class="card-image skeleton"></div>

          <div class="card-info skeleton-info">
            <div class="skeleton-line skeleton"></div>
            <div class="skeleton-line skeleton small"></div>
            <div class="skeleton-line skeleton tiny"></div>
          </div>
        </div>
      }
    </div>
  }

  @if (!isLoading) {
    <cdk-virtual-scroll-viewport class="viewport" itemSize="136">
      <div class="card-list-inner">
        <button
          *cdkVirtualFor="
            let clinic of filteredClinics;
            trackBy: trackByClinicId
          "
          class="card promoted"
          [routerLink]="['/descripton', clinic.id]"
        >
          <div class="promo-badge">PROMOVAT</div>

          <div class="card-image">
            @if (clinic.clinic_images_parsed.length > 0) {
              <img [src]="clinic.clinic_images_parsed[0]" loading="lazy" />
            } @else {
              <img src="no-img.jpg" />
            }
          </div>

          <div class="card-info">
            <div class="card-header">
              <div class="logo">
                @if (clinic.logo_path) {
                  <img [src]="clinic.logo_path" />
                } @else {
                  <img src="no-img.jpg" />
                }
              </div>

              <span class="city">
                {{ clinic.city }}
              </span>
            </div>

            <h3 class="clinic-name">
              {{ clinic.name }}
            </h3>

            <div class="rating">⭐ 4.5</div>
          </div>
        </button>
      </div>
    </cdk-virtual-scroll-viewport>
  }
</div>
