/* .main {
  margin-top: 0;
  padding: 0;
  width: calc(100vw - 5rem);
  margin-left: 5rem;
  height: 92.5vh;
}
p {
  padding: 0;
}
app-filter-nav {
  width: calc(100vw - 35rem);
  position: static;
}
app-map {
  display: block;
  width: 1000px;
  height: 92.5vh;
  overflow-y: hidden;
  position: sticky;
}
.flex-container {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 5rem);
  height: 100vh;
} */
/* Container general pe toată pagina */
.main {
  margin-top: 100px;
  height: (100vh-100px);
  display: flex;
  flex-direction: column;
  width: 100vw;
}

app-filter-nav {
  margin-top: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7.5vh;

  z-index: 10; /* peste app-map */
}
.flex-container {
  flex: 1 1;
  height: calc(100vh);
  position: relative;
  overflow-y: hidden;
}

app-map {
  margin-top: 80px;
  position: fixed;
  top: 100px;
  bottom: 0;
  height: 110%;

  width: 70vw;
  background: #ddd;
}

app-cards {
  position: fixed;
  top: 180px;
  bottom: 0;
  right: 0;
  width: 35vw;
  overflow-y: auto;
  background: #f5f5f5;
}
