<section class="search-section">
  <div class="search-container">
    <div class="search-title">
      <h1>
        Găsește clinica dentară
        <span>perfectă</span>
      </h1>

      <p>Compară clinici, servicii și recenzii reale într-un singur loc</p>
    </div>

    <div class="search-board">
      <div class="search-field location">
        <label>Locație</label>

        <div class="input-wrapper">
          <span class="material-symbols-outlined"> location_on </span>

          <input type="text" placeholder="Ex: București" />
        </div>
      </div>

      <div class="divider"></div>

      <div class="search-field service">
        <label>Serviciu</label>

        <div class="input-wrapper">
          <span class="material-symbols-outlined"> dentistry </span>

          <select>
            <option>Toate serviciile</option>
            <option>Implant dentar</option>
            <option>Albire dentară</option>
            <option>Detartraj</option>
            <option>Aparat dentar</option>
          </select>
        </div>
      </div>

      <div class="divider"></div>

      <div class="search-field date">
        <label>Dată</label>

        <div class="input-wrapper">
          <span class="material-symbols-outlined"> calendar_month </span>

          <app-calendar></app-calendar>
        </div>
      </div>

      <button class="search-button">
        <span class="material-symbols-outlined"> search </span>

        Caută
      </button>
    </div>
  </div>
</section>
