.wrap-map {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map {
  position: absolute;
  inset: 0;
}

/* MapLibre core layout */

.maplibregl-map {
  position: absolute !important;
  inset: 0;
}

.maplibregl-canvas {
  position: absolute !important;
  inset: 0;
}

.maplibregl-marker {
  position: absolute;
  pointer-events: auto;
}
