<div class="main">
  <section class="mobile-preview-section">
    <!-- LEFT CONTENT -->

    <div class="mobile-content">
      <ng-content></ng-content>
    </div>

    <!-- RIGHT SIDE PHONE -->

    <div class="mobile-preview">
      <div class="iphone-wrapper">
        <div class="iphone-body">
          <div class="iphone-notch"></div>

          <div class="iphone-screen">
            <div class="phone-navbar">
              <img src="logo-new.png" id="logo-on-iphone" />
              <h1>DentiPro</h1>
            </div>

            <div class="phone-map">
              <div class="map-marker m1"></div>
              <div class="map-marker m2"></div>
              <div class="map-marker m3"></div>
            </div>

            <div class="phone-card">
              <h3>Smile Dent Clinic</h3>

              <div class="phone-info">
                <span class="material-symbols-outlined">location_on</span>
                București
              </div>

              <div class="phone-info">
                <span class="material-symbols-outlined">star</span>
                4.9 rating
              </div>

              <button class="phone-cta">Programează</button>
            </div>
          </div>

          <div class="iphone-home"></div>
        </div>
      </div>

      <div class="store-buttons">
        <a class="store-badge">
          <img
            src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
          />
        </a>

        <a class="store-badge">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
          />
        </a>
      </div>
    </div>
  </section>
</div>
