/* INPUT BASE */

.service-search .p-inputtext {
  background: #0b223f !important;
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
  color: white !important;
}

/* HOVER */

.service-search .p-inputtext:hover {
  border-color: #2563eb !important;
}

/* FOCUS */

.service-search .p-inputtext:focus {
  border-color: #2563eb !important;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.25) !important;
}

/* REMOVE PRIME GREEN */

.service-search .p-inputtext.p-focus {
  border-color: #2563eb !important;
}
/* CLEAR BUTTON (X) */

.service-search .p-autocomplete-clear-icon {
  color: #0ea5e9;
  font-size: 20px;
  right: 14px;
  opacity: 0.9;
}

.service-search .p-autocomplete-clear-icon:hover {
  color: #38bdf8;
  transform: scale(1.1);
}
/* layout */

.service-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-icon {
  color: #0ea5e9;
  font-size: 18px;
}
/* PANEL */
