<p-autoComplete
  #serviceSearch
  class="service-search"
  appendTo="self"
  [(ngModel)]="selectedService"
  [suggestions]="filteredServices"
  (completeMethod)="filterServices($event)"
  (onFocus)="showAllServices()"
  (onSelect)="onServiceSelect()"
  field="name"
  placeholder="Servicii stomatologice"
  [showClear]="true"
>
  <ng-template let-service pTemplate="item">
    <div class="service-option">
      <div class="service-option-icon">
        <span class="material-symbols-outlined">dentistry</span>
      </div>

      <div class="service-option-text">
        {{ service.name }}
      </div>
    </div>
  </ng-template>
</p-autoComplete>
