.main {
  width: calc(100vw - 5rem);
  margin-left: 5rem;
}
.clinic-invite {
  padding: 2rem;
  background: linear-gradient(270deg, #125887, #393678);
  border-radius: 8px;
  margin-top: -1rem;
}

.clinic-invite h1 {
  color: white;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: Paytone One, sans-serif;
}

.clinic-invite p {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.6;
}

.clinic-invite ul {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.clinic-invite li {
  margin-bottom: 0.5rem;
}
.clinic-invite p,
li {
  color: white;
  font-family: paytone one, sans-serif;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
.btn-container {
  display: flex;
  justify-content: center;
}
button {
  all: unset;
  cursor: pointer;
  background-color: #2a2855;
  color: white;
  height: 7.5rem;
  width: 15rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: paytone one, sans-serif;
  border-radius: 25px;
  animation: pulse 1.5s infinite;
  transition: transform 0.3s ease-in-out;
  border: 5px solid #63a2b1;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 0 1rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  border-radius: 25px;
  border: 2px solid #201e43;
}

.img-container h2 {
  color: white;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: Paytone One, sans-serif;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1100px) {
  .clinic-invite h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 777px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clinic-invite h1 {
    font-size: 1.5rem;
  }
  .clinic-invite p {
    font-size: 1rem;
  }
  .img-container h2 {
    font-size: 1.5rem;
  }
  button {
    height: 5rem;
    width: 10rem;
    font-size: 1rem;
  }
}
