<div class="main">
  <section class="clinic-invite">
    <h1 id="header-text">
      Înscrie-ți clinica gratuit pe DentiPro și beneficiază de 3 luni gratuite
      incepand cu data lansarii!
    </h1>
    <p>
      DentiPlus este o platformă dedicată clinicilor stomatologice din România,
      creată pentru a atrage noi pacienți și a-ți crește vizibilitatea online.
      Oferim fiecărei clinici:
    </p>

    <div class="flex-container">
      <div class="img-container">
        <h2>Harta in dezvoltare</h2>
        <img src="harta.png" alt="" />
      </div>
      <div class="li-container">
        <ul>
          <li>Pagină proprie cu informații, imagini și servicii</li>
          <li>Programări directe din platforma noastră către clinica ta</li>
          <li>Recenzii și evaluări reale de la pacienți</li>
          <li>Sistem de program live adaptat orarului tău</li>
          <li>Promovare online inteligentă și localizată</li>
        </ul>
      </div>
    </div>
    <div class="btn-container">
      <button
        [routerLink]="['/Inscriere']"
        routerLinkActive="router-link-active"
      >
        Înscrie Clinica
      </button>
    </div>
    <p>
      <strong>Platforma este în dezvoltare</strong>
    </p>
  </section>
</div>
